
.raise1:hover,
.raise1:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-1em);
  color: yellow;
}

.raise2:hover,
.raise2:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-1em);
  color: skyblue;
}

div .raise1{
  color: var(--color);
  transition: 0.5s;
}

div .raise2{
  color: var(--color);
  transition: 0.5s;
}


  body {
    color: #fff;
    font: 300 1em 'Fira Sans', sans-serif;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    display: flex;
    background: linear-gradient(-45deg, #ee7752, #88093a, #4718b5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }

  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  

  button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: var(--color);
    transition: 0.5s;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    height: 75px;
    padding: 1rem;
    color: white;
    background: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 

h1 {
  font-size:50px; 
  font-family:'Times New Roman'; 
  color:black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.AWS{
  font-size:30px;
  font-family:'Times New Roman'; 
  color:orange;}

.GCP{
  font-size:30px;
  font-family:'Times New Roman'; 
  color:skyblue;
}

div p{
  font-size:20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}